body{
  
    background-color: #3AC58E;
}

a:link, a:visited {
  background-color: #C53A71;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #D0014C;
}
 
header {
     display:
}
